<html lang="en"	
	xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
	<title>Products list</title>	
</head>
<body>

	<div class="prodList container" layout:fragment="content">
		<div class="page-header">
			<h1>Admin Page</h1>
			<p class="lead">Yeah it's the admin page !</p>
		</div>
		
		<h3><a href="" th:href="@{/admin/inventory}">Product Inventory</a></h3>
		<p>Here you can view and modify the product inventory</p>
		
		<h3><a href="" th:href="@{/user/list}">User List</a></h3>
		<p>Here you can manage the users</p>
	</div>
</body>
</html>