<html lang="en"	
	xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
	<title>Products list</title>
	<script src="/js/product.js"></script>	
	<link rel="stylesheet" href="/css/prodList.css" />
</head>
<body>

	<div class="prodList container" layout:fragment="content">	
		
		<div class="page-header">
			<ol class="breadcrumb">
			<li><a href="#" th:href="@{/admin}">Admin main page</a></li>
			<li class="active">Inventory</li>
			</ol>
			<h1>Inventory Page</h1>
			<p class="lead">Product inventory for admin actions</p>
			<div th:class="${error} ? 'alert alert-danger' : (${success} ? 'alert alert-success' : '')">
				<p th:text="${error} ? ${error} : (${success} ? ${success} : '')"></p>
			</div>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr class="success">
					<th>Name</th>
					<th>Image</th>
					<th>Category</th>
					<th>Description</th>
					<th>Price</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prod: ${prodList}">
					<td><a th:href="@{'/product/'+${prod.id}}"><span th:text="${prod.name}">my label</span></a></td>
					<td><img src="" th:src="@{'/product/' + ${prod.id} + '/image'}" alt="Product image" /></td>
					<td th:text="${prod.category}">my category</td>
					<td th:text="${prod.description}">my description</td>
					<td
						th:text="${#numbers.formatDecimal(prod.price, 1, 'POINT',2, 'COMMA') + '$ / 100g'}">1.00
						$ / 100g</td>
					<td><a th:href="@{'/product/edit/'+${prod.id}}"><span
							class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a th:href="@{'/product/'+ ${prod.id}}"  class="removeLk"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
			</tbody>
		</table>
		<div class="pull-right">
			<a href="#" th:href="@{/product/new}" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus"></span> Add a product</a>			
		</div>					
	</div>
	
	
</body>
</html>