<html lang="en"	
	xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
	<title>Customers list</title>	
	
</head>
<body>

	<div class="container" layout:fragment="content">
		<div class="page-header">
			<h1>All Customers</h1>
			<p class="lead">Your awesome online customers</p>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>	
					<th><a href="/customer/new" class="glyphicon glyphicon-plus"></a></th>				
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>City</th>
					<th>Province</th>	
					<th></th>
					<th></th>				
				</tr>
			</thead>
			<tbody>
				<tr th:each="cust: ${customerList}">					
					<td><a th:href="@{'/customer/show/'+${cust.id}}"><span class="glyphicon glyphicon-info-sign"></span></a></td>
					<td th:text="${cust.firstName}">First name</td>
					<td th:text="${cust.lastName}">Last name</td>
					<td th:text="${cust.email}">Last name</td>
					<td th:text="${cust.phoneNb}">Last name</td>
					<td th:text="${cust.city}">Last name</td>
					<td th:text="${cust.province}">Last name</td>	
					<td><a th:href="@{'/customer/edit/'+${cust.id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a th:href="@{'/customer/delete/'+${cust.id}}"><span class="glyphicon glyphicon-trash"></span></a></td>									
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>