<html lang="en"	
	xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
	<title>Product Detail</title>
	<link rel="stylesheet" href="/css/prodDetail.css" />		
</head>
<body>

	<div class="container" layout:fragment="content">
		<h1>Product Detail</h1>
		<h3 th:text=" ${prod.name}">Pretty Tea</h3>

		<div class="prodDetail">
		<div class="row">
		<div class="col-md-4">
			<img src="" th:src="@{'/img/'+${prod.imgFilename}}" alt="Product image" />
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-sm-4">Name</div>
				<div class="col-sm-8" th:text="${prod.name} ">Pretty Tea</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Category</div>
				<div class="col-sm-8" th:text="${prod.category}">Tea</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Description</div>
				<div class="col-sm-8" th:text="${prod.description}">Lorem ipsum blabalb balbalbl.</div>
			</div>			
			<div class="row">
				<div class="col-sm-4">Price</div>
				<div class="col-sm-8" th:text="${#numbers.formatDecimal(prod.price, 1, 'POINT',2, 'COMMA') + '$ / 100g'}">5.00$/100g</div>
			</div>
			<div class="row">
				<div class="col-sm-4">Number In Stock</div>
				<div class="col-sm-8" th:text="${prod.nbInStock}">11</div>
			</div>
		</div>
		</div>
		</div>
	</div>
</body>
</html>