<html lang="en"	
	xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
	<title>Products list</title>	
	<link rel="stylesheet" href="/css/prodList.css" />
</head>
<body>

	<div class="prodList container" layout:fragment="content">
		<div class="page-header">
			<h1>All Available Teas</h1>
			<p class="lead">Checkout all the awesome teas available now!</p>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>					
					<th>Name</th>
					<th>Image</th>
					<th>Category</th>
					<th>Description</th>
					<th>Price</th>					
				</tr>
			</thead>
			<tbody>
				<tr th:each="prod: ${prodList}">
					<td><a th:href="@{'/product/'+${prod.id}}"><span th:text="${prod.name}">my label</span></a></td>
					<td><img src="" th:src="@{'/product/' + ${prod.id} + '/image'}" alt="Product image" /></td>					
					<td th:text="${prod.category}">my category</td>
					<td th:text="${prod.description}">my description</td>
					<td
						th:text="${#numbers.formatDecimal(prod.price, 1, 'POINT',2, 'COMMA') + '$ / 100g'}">1.00
						$ / 100g</td>					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>