<html lang="en"	
	xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
	<title th:text="${status}">404</title>
</head>
<body>

	<div class="container" layout:fragment="content">
		<div class="page-header">
			<div class="row">     
			<h1 class="text-center" th:text="${error}">Not found</h1>     
			<div class="col-s12 text-center alert alert-danger" th:text="${message}">This page is not available.</div>
			</div> 		
		</div>				 
	</div>
</body>
</html>	